@font-face {
  font-family: "pixelFont";
  src: url("fonts/retroFont.ttf");
}

:root {
  --primary-bg-color: #0c0c0c; /* Dark background */
  --secondary-bg-color: #202020; /* Slightly lighter background */
  --text-color: #e6e6e6; /* White text */

  --neon-green: hsl(102, 90%, 40%);
  --neon-blue: hsl(196, 90%, 50%);
  --neon-pink: hsl(340, 90%, 50%);
  --neon-yellow: hsl(50, 90%, 50%);

  --desert-sand: rgb(210, 180, 140);
  --desert-brown: rgb(67, 59, 50);
  --desert-browndark: rgb(24, 21, 17);
  --desert-orange: rgb(255, 119, 45);
  --desert-red: rgb(255, 0, 0);
}

a:link {
  color: var(--text-color);
}

/* visited link */
a:visited {
  color: var(--text-color);
}

/* mouse over link */
a:hover {
  color: var(--text-color);
}

/* selected link */
a:active {
  color: var(--text-color);
}

html, body {
  font-family: "pixelFont";
  margin: 0;
  padding: 0;
  color: var(--desert-sand);
  background-color: black;
}
canvas {
  display: block;
}

h1{
  font-size: 36px;
  text-shadow: 0px 4px rgb(73, 62, 46);
}

#sandtrislogo{
  width: 100%;
  height: 50px;
}

#main2{
  display: grid; 
  grid-template-columns: 210px 610px 210px;
  grid-column-gap: 10px;
  width: 1050px;
  z-index: 0;
}

.adsbox{
  width: 200px;
  height: 660px;
  padding:5px;
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 16px var(--primary-bg-color);
}

.ad{
  background-color: var(--desert-brown);
  margin-top: 5px;
}

#cnv{
  background-color: var(--desert-brown);
  width: 600px;
  height: 650px;
  padding:5px;
  padding-top: 15px;
  box-shadow: 0px 16px var(--desert-browndark);
}

.box{
  display: block;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.page{
  position: absolute;
  width: 600px;
  height: 655px;
  padding:0px;
  color: var(--text-color);
  font-size: 24px;
  z-index: 2;
  border: none;
  background-color: rgba(67, 59, 50,0.95);
}


#aboutpage p{
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
}

button{
  cursor:pointer;
  font-size: 24px;
  border: none;
  font-family: "pixelFont";
  color: var(--text-color);
  padding:14px;
}

button:hover{
  transform: translate(0,4px);
  box-shadow: 0px 4px black;
}

button:active{
  transform: translate(0,8px);
}

.bluebutton{
  background-color: var(--neon-blue);
  box-shadow: 0px 8px rgb(16,18,53);
}

.submitbutton{
  background-color: var(--neon-blue);
  font-size: 18px;
  padding:6px;
  box-shadow: 0px 8px rgb(16,18,53);
}

.redbutton{
  background-color: var(--neon-pink);
  box-shadow: 0px 8px rgb(53,16,18);
}

.bluebutton{
  background-color: var(--neon-blue);
  box-shadow: 0px 8px rgb(16, 49, 53);
}

.greenbutton{
  background-color: var(--neon-green);
  box-shadow: 0px 8px rgb(16,53,18);
}

.namebox{
  height: 40px;
  width: 220px;
  font-size: 18px;
  font-family: "pixelFont";
}
.leaderboard{
  display: grid;
  width:200px;
  height:50px;
  align-items: center;
  grid-template-columns: 20px 180px;
  color:white;
  font-size:12px;
}

.leaderboard--gray{
  background-color: #2f2f2f;
}

.leaderboard--black{
  background-color: #1c1c1c;
}

#leaderboard-list{
  height: 550px;
}
#bestScoreEntry{
  background-color: #2f2f2f;
}
.namescore{
  display: grid;
  align-items: center;
  width:180px;
  height:50px;
  grid-template-rows: 25px 25px;

}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 8px;
  background: black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--text-color);
  border-width: 4px ;
  border-color: var(--text-color);
  border-radius: 0px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--text-color);
  border-width: 4px ;
  border-color: black;
  border-radius: 0px;
  cursor: pointer;
}


.logo.is-animation {
  margin-top: 0.6em;
}

.logo.is-animation span {
  display: inline-block;
  animation: wave-text 1s ease-in-out infinite;
}

.logo.is-animation span:nth-of-type(1) {
  animation-delay: 0.0s; 
}
.logo.is-animation span:nth-of-type(2) {
  animation-delay: 0.1s; 
}
.logo.is-animation span:nth-of-type(3) {
  animation-delay: 0.2s; 
}
.logo.is-animation span:nth-of-type(4) {
  animation-delay: 0.3s; 
}
.logo.is-animation span:nth-of-type(5) {
  animation-delay: 0.4s; 
}
.logo.is-animation span:nth-of-type(6) {
  animation-delay: 0.50s; 
}
.logo.is-animation span:nth-of-type(7) {
  animation-delay: 0.6s; 
}
.logo.is-animation span:nth-of-type(8) {
  animation-delay: 0.7s; 
}

@keyframes wave-text{
  00%{
    transform: translateY(0em);
  }
  60%{
    transform: translateY(-0.6em);
  }
  100%{
    transform: translateY(0em);
  }
}

.betterBox{
  display: block;
  width:80%;
  height:80%;
  margin:auto;
}

.joinOurDiscord{
  color: #5662f6 !important;
  margin-top:50px;
}


#modList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #1c1c1c;
  width: 100%;
  height:95%;
}

.modLink {
  color: #5662f6;
  text-decoration: none;
  font-weight: bold;
}

.modItem {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100px;
  margin: 5px auto; /* Updated margin to remove big gaps */
  padding: 5px;
  background-color: #2e2e2e;
  border-radius: 5px;
}

.modItem img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 10px;
}

.modItem .modInfo{
  display:block;
  width:calc(100% - 150px);
  height:100%;
  overflow-y:auto;
  overflow-x:hidden;
}

.modItem .modName {
  font-weight: bold;
  font-size:1rem;
  word-break: break-all;
}
.modItem .modAuthor {
  font-weight:lighter;
  font-style:italic;
  font-size:0.5rem;
  word-break: break-all;
  color:gray;
}
.modItem .modDescription {
  /* font-weight: bold; */
  font-size:0.8rem;
  word-break: break-all;
}

.modControls{
  display:block;
  width:50px;
  height:100%;
  margin-left:5px;
  text-align:center;
  line-height:100px;
  font-weight: bold;
  font-size:1.5rem;
  color:gray;
}
.modControls button{
  font-size: 15px;
  padding: 9px;
}

input[type=checkbox]{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;
}

.refreshWarning{
  color:gray;
  font-size:0.5em;
  margin:2px;
}

.shortButton{
  font-size: 17px;
  padding: 9px;
}

.popupInput{
  display:flex;
  justify-content: center;
  width:600px;
  /* background-color:blue; */
  /* padding:10px; */
}
.popupInput button{
  margin:10px;
}
.popupText{
  font-size:0.8em;
}
.popupInput .namebox{
  margin:10px;
  padding:24px;
  height:100%;
  width:fit-content;
}